/* css for about page */

.column {
    float: left;
    height: 500px;
    width: 300px;;
    padding: 40px;
}
.column img {
    height: 500px;
    width: 300px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.column p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-top: 30px;
}
.column p:hover {
    background-color: rgb(47, 179, 255);
}