body {
    background-color: #d7cfcf; /* replace with the color you want */
  }

  nav li {
    display: inline-block;
    margin: 12px;
    list-style-type: None;

    }

nav a {
        text-decoration: none;
        font-family: Poppins;
        color: #242121;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 130%;
        margin: 10px;
      }
nav li a:hover {
        border-bottom: 5px solid black;
        padding-bottom: 3px;
      }  
title{
    font: 48px;
    align-content: center;
}

.greet {
    height: 50px;	
    overflow: hidden;
    position: relative;
    margin-top: 60px;
   }
.greet {
    font-size: 2em;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: greet 15s linear infinite;
    -webkit-animation: greet 15s linear infinite;
    animation: greet 15s linear infinite;
    }

@-moz-keyframes greet {
0%   { -moz-transform: translateX(40%); }
100% { -moz-transform: translateX(-40%); }
}
@-webkit-keyframes greet {
0%   { -webkit-transform: translateX(40%); }
100% { -webkit-transform: translateX(-40%); }
}
@keyframes greet {
0%   { 
-moz-transform: translateX(40%); 
-webkit-transform: translateX(-40%); 
transform: translateX(40%); 		
}
40% { 
-moz-transform: translateX(-40%); 
-webkit-transform: translateX(-40%);
transform: translateX(-40%); 
}
}
.parag{
    font-size: 30px;
    color: brown;
    margin-top: 160px;
    text-align: center;
}

