body {
    background-color: #d7cfcf; /* replace with the color you want */
  }

  nav li {
    display: inline-block;
    margin: 12px;
    list-style-type: None;

    }


nav a {
        text-decoration: none;
        font-family: Poppins;
        color: #242121;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 130%;
        margin: 10px;
      }
nav li a:hover {
        border-bottom: 5px solid black;
        padding-bottom: 3px;
      }  