h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: 30px;

    }

.help{
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
        line-height: 1.2;
        margin-top: 30px;
    }
    
.content {
font-family: 'Roboto', sans-serif;
font-size: 1.1rem;
line-height: 1.2;
margin-top: 30px;
}

.form-outline w-100{
    padding-top: 20px;

}

.commentarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
.comment-box {
    margin-top: auto;
  }
.comment-display {
    background-color: #f2f2f2;
    border: 1px solid rgb(237, 224, 224);
    display: flex;
    flex-direction: column;
    width : 20vw;
    padding: 0px 10px;
    margin-bottom: 8px;
  }

a {
    font-weight: bold;
    text-decoration: none;
    color: black; 
}

.sort-filter{
    display: flex !important;
}



