{% extends "main.html" %}

{% block title %}
About This Wiki
{% endblock %}

{% block content %}
<h3>About this Wiki</h3>

<!-- TODO(Project 1): Add info about the wiki. -->
<style>
    img {
        height: 500px;
        width: 300px;
        margin: 30px;
    }
</style>

<h3>Team Gama-Members</h3>
<!-- TODO(Project 1): Add team members and pictures to about page. -->
 <!-- looping through the dictionaries  -->
{% for name,images in author_images.items() %} 
        <img src='data:image/jpeg;base64,{{ images }}' alt='Author Image'>
        {% if name=='Manish' %}
            <p>{{ name }} , Howard University</p>
        {% elif name=='Gabriel' %}
            <p>{{ name }}, Florida University</p>
        {% else %}
            <p>{{ name }}, Howard University</p>
        {% endif %}
{% endfor %}



{% endblock %}

