{% extends "main.html" %}

{% block title %}
About This Wiki
{% endblock %}

{% block content %}
<h3>About this Wiki</h3>

<!-- TODO(Project 1): Add info about the wiki. -->
<head>
    <link rel="stylesheet" href="../static/about.css" />    
</head>

<h3>Team Gama-Members</h3>
<!-- TODO(Project 1): Add team members and pictures to about page. -->
 <!-- looping through the dictionaries  -->
 <div class="row">
    {% for name,images in author_images.items() %}
        <div class="column">
            <img src='data:image/jpeg;base64,{{ images }}' alt='Author Image'>
            {% if name=='Manish' %}
                <p>{{ name }} , Howard University</p>
            {% elif name=='Gabriel' %}
                <p>{{ name }}, Florida InternationalUniversity</p>
            {% else %}
                <p>{{ name }}, Howard University</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
