<!DOCTYPE html>
<html>

<head>
{% block style %}
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>Welcome To The Team Gamma Projects</title>
        <stlye>

        </stlye>
    </head>

    <style>
        nav li {
        display: inline-block;
        margin: 12px;
        list-style-type: None;
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
        line-height: 1.2;
        margin-top: 30px;

        }
    </style>
{% endblock %}
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <head>
        <link rel="stylesheet" href="../static/main.css" />
    </head>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/pages">Pages</a></li>
        <li><a href="/about">About</a></li>
        <li>|</li>
        {% if current_user.is_authenticated %}
        <li><a href="/account">{{current_user.username}}</a></li>
        <li>|</li>
        <li><a href="/upload">Upload</a></li>        
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Sign in</a></li>
        <li><a href="/signup">Sign Up</a></li>
        {% endif %}
    </nav>
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% block content %}
        {{ greetings }}
        {% endblock %}
    </div>

</body>

</html>
