{% extends "main.html" %}
{% block title %} My Pages {% endblock %}
{% block content %}

<body>
    <head>
        <link rel="stylesheet" href="../static/pages.css" />
    </head>
    <h1> Places To Visit</h1>
    <h3> Search </h3>
    <form action='/search' method='post'>
    <div class="small fw-light">
        <div class="input-group">
            <input class="form-control border rounded-pill" type="text" name='search_query' title='Search' placeholder="search by title or content or year"  id="example-search-input">
            <button type="submit" class="btn btn-secondary" name="search_by" value = 'title'>BY TITLE</button>
            <button type="submit" class="btn btn-secondary" name = "search_by" value='content'>BY CONTENT</button>
        </div>
    </div>
    </form>

    <div class="sort"></div>

        <h3>Sort Pages By </h3>
        <form action='/sort' method='post'>
            <select class="form-select" aria-label="Default select example" name= "sort_option">
                <option  value="a_z">A TO Z</option>
                <option  value="z_a">Z TO A</option>
                <option  value="year">LATEST TO PREVIOUS</option>
            </select>
            <button type="submit" class="btn btn-primary">SORT</button>
        </form>
        <form action='/sortyears' method='post'>
            <select class="form-select" aria-label="Default select example" name= "list_years">
                {% for year in list_years %}
                    <option value="{{year}}" SELECTED>{{year}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">SORT</button>
        </form>
        
    </div>
    <div class="pages">
        <ul>            
            {% if places %}
                {% for place in places %}
                    <li><a href={{ url_for('page', page_name = place)}}>{{ place }}</a></li>
                {% endfor %}
            {% else %}
            <p>{{ message}}</p>
            {% endif %}
        </ul>
    </div>
</body>

{% endblock %}