{% extends "main.html" %}
{% block title %} My Pages {% endblock %}
{% block content %}
    <h1> Places To Visit</h1>
    <h3> Search </h3>
    <form action='/search' method='post'>
        <input class="searchbar" type="text" name= "search_query" title="Search">
        <button type= 'submit' name = 'search_by' value='title'>BY TITLE</button>
        <button type = 'submit' name = 'search_by' value='content'>BY CONTENT</button>
    </form>
  
    <ul>
        {% if places %}
            {% for place in places %}
                <li><a href={{ url_for('page', page_name = place)}}>{{ place }}</a></li>
            {% endfor %}
        {% else %}
        <p>'{{ message}}'</p>
        {% endif %}
    </ul>


{% endblock %}