{% extends "main.html" %}
{% block title %} {{name}} {% endblock %}
{% block content %}
    {{content.content}}

    {% if current_user.is_authenticated %}
        <p>Did you find this page helpful?</p>
        <form method="post" action="/pages/{{name}}">
            {{content.upvotes}}
            <input type="submit" name="submit_button" value="Yes!">
            {{content.downvotes}}
            <input type="submit" name="submit_button" value="Nope">
        </form>
    {% else %}
        {{content.upvotes}}
        {{content.downvotes}}
    {% endif %}


{% endblock %}