{% extends "main.html" %}
{% block title %} {{current_user.username}} {% endblock %}
{% block content %}
    <h3> Update Profile </h3>

    <form method="post" name="postBio" action="/update" enctype="multipart/form-data">
        <h4>New Bio:</h4> 
        <textarea id ="bio" name="bio" rows="4" cols="50" placeholder="Insert Bio" required></textarea>
        <input type = "submit" value = "Submit Bio"/>
        {% if bio_message %}
            <div>{{ bio_message }}</div>
        {% endif %}
    </form>
    <form method="post" name="postPFP"action="/updatePFP" enctype="multipart/form-data">
        <h4>New Profile Photo:</h4>
        <input type="file" id="myFile" name="file">
        <input type="submit" value = "Submit Profile Photo">
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    </form>    
{% endblock %}